* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  overflow-x: hidden;
  background-color: rgb(246, 246, 246);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: black;
}
.nav a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease, transform 0.3s ease;
}
.nav a:hover {
  color: #a70000;
  transform: scale(1.1);
}

.nav a:active {
  transform: scale(0.9);
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  gap: 2rem;
}

h1 {
  text-transform: uppercase;
}

.main a {
  text-decoration: none;
  color: black;
  padding: 1rem 2rem;
  border: 1px solid black;
  border-radius: 2px;
  text-transform: uppercase;
}

.main a:hover {
  background-color: black;
  color: white;
}

.games {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.main button {
  border: none;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
  border-radius: 5px;
}

button:hover {
  opacity: 0.7;
}

#feedback {
  width: 90%;
  padding: 1rem;
}
#loading {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}
.about {
  background-color: black;
  color: rgb(246, 246, 246);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.about p {
  text-align: justify;
}
.footer {
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(54, 54, 54);
  color: rgb(205, 205, 205);
}
.footer a {
  text-decoration: none;
  color: rgb(205, 205, 205);
}
.footer a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  h1 {
    font-size: 1rem;
  }
  .games {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .games {
    grid-template-columns: repeat(1, 1fr);
  }
}
