<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jotto Game</title>
    <link rel="stylesheet" href="../static/css/main.css" />
  </head>
  <body>
    <div class="nav">
      <a href="/">Home</a>
    </div>
    <div class="main">
      <p>Choose the game you want to play</p>
      <div class="games">
        <a href="/three">three letter word solver</a>
        <a href="/four">four letter word solver</a>
        <a href="/five">five letter word solver</a>
        <a href="/six">six letter word solver</a>
        <a href="/threeuni">three letter unique word solver</a>
        <a href="/fouruni">four letter unique word solver</a>
        <a href="/fiveuni">five letter unique word solver</a>
        <a href="/sixuni">six letter unique word solver</a>
      </div>
    </div>
  </body>
</html>
