<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jotto Game</title>
    <link rel="stylesheet" href="../static/css/main.css" />
  </head>
  <body>
    <div class="nav">
      <a href="/">Jotto Word Game Solver</a>
    </div>
    <div class="main">
      <p>Choose the game you want to play</p>
      <div class="games">
        <a href="/three">three letter word solver</a>
        <a href="/four">four letter word solver</a>
        <a href="/five">five letter word solver</a>
        <a href="/six">six letter word solver</a>
        <a href="/threeuni">three letter unique word solver</a>
        <a href="/fouruni">four letter unique word solver</a>
        <a href="/fiveuni">five letter unique word solver</a>
        <a href="/sixuni">six letter unique word solver</a>
      </div>
      <form>
        <button type="submit">Reset Game</button>
      </form>
    </div>
    <div class="about">
      <h2>About the Jotto Word Game Solver</h2>
      <p>
        The Jotto Word Game Solver is designed to help you solve word puzzles in
        the popular Jotto word game. You can choose from different difficulty
        levels by selecting the word length and whether you want unique or
        non-unique letters. The solver helps you efficiently find possible word
        solutions based on the guesses you input.
      </p>
      <p>
        Jotto is a guessing game where you attempt to guess a secret word by
        making guesses and receiving feedback. The solver here aids players in
        identifying possible words based on feedback from previous guesses,
        helping them win the game faster.
      </p>
    </div>

    <footer class="footer">
      <p>&copy; 2024 Jotto Game Solver. All rights reserved.</p>
      <div class="footer-links">
        <a href="/">Home</a> |
        <a href="mailto:prakharkumar.srivastava.22cse@bmu.edu.in">Contact</a>
      </div>
    </footer>
  </body>
</html>
